body {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.title {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	font-size: 40pt;
}

.content {
	margin-top: 15px;
	text-align: center;
}

.phone-image-div {
	width: 100%;
	height: auto;
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0;
}

.tagline {
	font-size: 22pt;
	font-weight: 300;
}

.time {
	font-size: 16pt;
	font-weight: 300;
}

.phone-image {
	/*width: 130px;*/
}

.absolute-holder {
	height: 200px;
}

.absolute-holder2 {
	height: 200px;
}

h1 {
	font-weight: 300;
}

.bold {
	font-weight: 300;
}

header {
	height: 5px;
}

/*Buttony things*/

.f {
	font-size: 32pt;
	margin-left: 10px;
	margin-right: 10px;
}


a {
    color: rgb(187, 0, 0);
    text-decoration: none;
    border-bottom: solid white 1px;
}

a:hover {
	text-decoration: none;
	color: #666;
}
.button {
   border: 2px solid #bb0000;
   padding: 8px 16px;
   border-radius: 10px;
   vertical-align: middle;
}
.button:hover {
   border: 2px solid #666;
}

/*-----------------------------------------------*/
/*Animations*/

.logo-circle {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation:spin 2s linear forwards;
 	-moz-animation:spin 2s linear forwards;   
}

.phone {
    stroke-dasharray: 2000;
    stroke-dashoffset: -1500;
    -webkit-animation:spin 1.5s linear forwards;
    -moz-animation:spin 1.5s linear forwards;
}

@-moz-keyframes spin { 
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin { 
  to {
    stroke-dashoffset: 0;
  }
}